<div id="create-container">

	<form id="create-input-form" class="input-form" action="/videos" method="post" >
		<label class="form-label" for="title">Title</label>
		<input id="title-input" name="title" maxlength="50" value="{{item.title}}"/>
		           
		<label class="form-label" for="description">Description</label>
		<input id="description-input" name="description" value="{{item.description}}"/>

		<button id="submit-button" name="submit-button" type="submit">Save a video</button>
	</form>

</div>