<div id="delete-page" class="create-container">
	<form id="delete-input-form" class="input-form" action="/videos/{{video._id}}/deletions" method="post" >
		<button id="submit-button" name="submit-button" type="submit">Delete this video</button>
	</form>

</div>