<div id="videos-container">
	{{#each videos as |video|}}
		<div class="video-card">
			<div class="video-title">
		  		{{video.title}}
		  		{{video.description}}

		  		<iframe class="video-player" src="{{video.url}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		 	</div>
		</div>
	{{/each}}
</div>

<a href="/videos/create">Create a new video</a>

