<div id="show-container">
	<p>Title: {{video.title}}</p>
	<p>Description: {{video.description}}</p>

	<iframe class="video-player" src="{{video.url}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>